@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'THSarabunPSK';
  src: url('/fonts/THSarabunNew.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'THSarabunPSK', sans-serif;
  font-size: 20px; /* ปรับขนาดพื้นฐานให้ฟอนต์ Sarabun อ่านง่าย */
  background-color: #f3f4f6;
  color: #1f2937;
}

/* SweetAlert2 Custom Font */
.swal2-popup {
  font-family: 'THSarabunPSK', sans-serif !important;
}
